body{
    color: white;
    text-align: center;
    font-family: 'Times New Roman',serif;
}

.goals {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.goalheading{
    margin: 30px;
}

.cGoal{
    font-size: 40px;
    margin-top: 20px;
}

.cSteps{
    font-size: 25px;
    text-align: left;
}

.sBtn{
    width: 180px;
    padding: 10px;
}

input{
    margin: 2px;
}

ul {
    list-style: none;
}

.goals {
  cursor: pointer;
}

.addStep {
    margin: 10px;
}

/*contact page*/
.cHeading{
    font-size: 40px;
}

.c-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-input{
    display: flex;
    flex-direction: column;
}

.inputForm {
    text-align: left;
}

.mBox {
    height: 100px;
    width: 200px;
}

.cBtn {
  background-color: #f6e27a;
  color: #00002e;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  margin: 10px;
  width: 140px;
  
}

.thanks{
    padding: 100px;
}

.goalViews{
    font-size: 30px;
    text-align: left;
    padding: 30px;
}

.GOAL{
    font-size: 60px;
    text-align: left;
      font-family: 'Times New Roman',serif;
      background-image: linear-gradient(
    	to right,
    	#462523 0,
        #cb9b51 5%, 
    	#f6e27a 40%,
    	#f6f2c0 50%,
    	#f6e27a 65%,
    	#cb9b51 100%,
    	#462523 100%
    	);
       color:transparent;
       -webkit-background-clip:text;
}

/*view page*/
.displayContainer{
    display: flex;
    justify-content: space-around;
}

.dSteps {
    font-size: 30px;
    color: white;
}

.dToDo {
    text-align: left;
    border: 1px solid white;
    padding: 20px;
}

.tHeading{
    font-size: 50px;
    
}

.dHeading{
    font-size: 50px;
    margin-bottom: 60px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}