body{
    color: white;
    text-align: center;
}

.goals {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.goalheading{
    margin: 30px;
}

.cGoal{
    font-size: 40px;
    text-decoration: underline;
    margin-top: 20px;
}

.cSteps{
    font-size: 25px;
    text-align: left;
}

.sBtn{
    width: 180px;
    padding: 10px;
}

input{
    margin: 2px;
}

ul {
    list-style: none;
}

.goals {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.addStep {
    margin: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}